.root {
    -fx-font-size: 12pt;
    -fx-background-color: #323230;
}

.label {
    -fx-text-fill: aliceblue;
}

Circle {
    -fx-fill: #9d8727;
    -fx-effect: dropshadow(gaussian, rgba(242, 215, 50, 0.24), 20, 0.3, 0, 0.1);
    -fx-stroke: #747474;
    -fx-stroke-width: 2px;
}